<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	id="com.gems.deeplink"
	version="6.1.6">

    <name>startApp</name>
    <description>cordova plugin for check or launch other application in android & iOS device.</description>
    <license>MIT</license>
    <keywords>cordova,startapp</keywords>

    <js-module src="www/startApp.js" name="startapp">
        <merges target="startApp" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="startApp">
                <param name="android-package" value="com.gems.deeplink.startApp"/>
            </feature>
        </config-file>
	<!--<config-file target="AndroidManifest.xml" parent="/manifest/application">
		<meta-data android:name="com.onesignal.BadgeCount" android:value="DISABLE" />
	</config-file>	
	    <config-file target="AndroidManifest.xml" parent="/manifest">
		<uses-permission android:name="com.sec.android.provider.badge.permission.READ" tools:node="remove" />
<uses-permission android:name="com.sec.android.provider.badge.permission.WRITE" tools:node="remove" />
<uses-permission android:name="com.htc.launcher.permission.READ_SETTINGS" tools:node="remove" />
<uses-permission android:name="com.htc.launcher.permission.UPDATE_SHORTCUT" tools:node="remove" />
<uses-permission android:name="com.sonyericsson.home.permission.BROADCAST_BADGE" tools:node="remove" />
<uses-permission android:name="com.sonymobile.home.permission.PROVIDER_INSERT_BADGE" tools:node="remove" />
<uses-permission android:name="com.anddoes.launcher.permission.UPDATE_COUNT" tools:node="remove" />
<uses-permission android:name="com.majeur.launcher.permission.UPDATE_BADGE" tools:node="remove" />
<uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE" tools:node="remove"/>
<uses-permission android:name="com.huawei.android.launcher.permission.READ_SETTINGS" tools:node="remove" />
<uses-permission android:name="com.huawei.android.launcher.permission.WRITE_SETTINGS" tools:node="remove" />
<uses-permission android:name="android.permission.READ_APP_BADGE" tools:node="remove" />
<uses-permission android:name="com.oppo.launcher.permission.READ_SETTINGS" tools:node="remove" />
<uses-permission android:name="com.oppo.launcher.permission.WRITE_SETTINGS" tools:node="remove" />
		</config-file-->
	
	    
        <source-file src="src/android/startApp.java" target-dir="src/com/gems/deeplink" />
        <source-file src="src/android/Assets.java" target-dir="src/com/gems/deeplink" />
        <source-file src="src/android/res/xml/file_paths.xml" target-dir="res/xml" />
    </platform>


	<platform name="ios">
		<config-file target="config.xml" parent="/*">
			<feature name="startApp">
				<param name="ios-package" value="startApp"/>
			</feature>
		</config-file>
		
		<header-file src="src/ios/startApp.h"/>
		<source-file src="src/ios/startApp.m"/>
		 <config-file target="*-Info.plist" parent="LSApplicationQueriesSchemes">
		    <array>
			<string>Test</string>
			<string>com.gems.gcapplepay</string>    
		 	<string>com.gems.classroom</string>
		    </array>
		</config-file>
	</platform>


</plugin>
